body{
    background-color: black;
    color: #222;    
}

 .perfil{
    background-color: rgb(255, 255, 255);
    width: 20rem;
    padding: 2rem;
    margin: 10rem auto;
    text-align: center;
    

 }

 .perfil img{
    border-radius: 100%;
    border: 8px solid rgb(179, 26, 26);
 }

 .perfil p{
    text-align: justify;
 }
